<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block"><img src="../assets/images/logowhitefull.png" class="img-fluid" alt="Responsive image"></div>
<div class="tagline-lower text-center text-expanded text-shadow text-white mb-5 d-none d-lg-block"><a [routerLink]="['/app', {outlets: {'home': ['search']}}]" routerLinkActive=""><h2><strong>List</strong>Builder</h2></a></div>

<router-outlet></router-outlet>

<footer class="bg-faded text-center">
  
    <p class="cv">Copyright © JumpCrew 2017</p>
  
</footer>
