<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Search
      <strong>Data</strong>
    </h2>
    <hr class="divider">
    <form>
      <div class="row">
        <div class="form-group col-lg-5">
          <label class="text-heading">Location</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-lg-4">
          <label class="text-heading">Industry</label>
          <select class="form-control">
              <option selected>Select an Industry</option>
              <option value="hotels">Hotels</option>
              <option value="realEstate">Real Estate</option>
              <option value="eCommerce">eCommerce</option>
            </select>
          <!-- <input type="email" class="form-control"> -->
        </div>
        <div class="form-group col-lg-3">
          <label class="text-heading">Directory</label>
          <select class="form-control">
              <option selected>Select a Directory</option>
              <option value="yelp">Yelp</option>
              <option value="yp">Yellow Pages</option>
              <option value="manta">Manta</option>
            </select>
          <!-- <input type="tel" class="form-control"> -->
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
          <label class="text-heading">Message</label>
          <textarea class="form-control" rows="6"></textarea>
        </div>
        <div class="form-group col-lg-12">
          <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </form>
  </div>