<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">Search
      <strong>Results</strong>
    </h2>
    <hr class="divider">
<div class="container-fluid" *ngIf="data">
  <ng2-smart-table *ngIf="data" [settings]="settings" [source]="data"></ng2-smart-table>

</div>

<div class="container">
  <div *ngIf="resp.code!=200" class="jumbotron jumbotron-fluid">
    <h1 class="display-3">Oops! Something went wrong!</h1>
    <p class="lead">Please go back to Search page and try later!</p>
  </div>
</div>


</div>