        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light nav-bg-faded">
          <div class="container navcontent">
            <div class="navbar-collapse collapse" id="navbarResponsive" >
              <ul class="navbar-nav mx-auto" id="pills-tab" role="tablist">
                <li class="nav-item px-lg-4">
                  <a class="nav-link" id="pills-home-tab" (click)="activefun('pills-home')" data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">Update Users</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link" id="pills-profile-tab" (click)="activefun('pills-profile')" data-toggle="pill"  role="tab" aria-controls="pills-profile" aria-selected="false">Register User</a>
                </li>
              </ul>
            </div>
          </div>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item pr-5">
              <a class="nav-link text-uppercase" [routerLink]="['/app', {outlets: {'home': ['search']}}]" routerLinkActive="active">List Builder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" [routerLink]="['/app', {outlets: {'home': ['search']}}]" routerLinkActive="active">Logout</a>
            </li>
          </ul>
        </nav>

<div class="tab-content container" id="pills-tabContent">
    <app-alert></app-alert>
  <div class="tab-pane fade" [ngClass]="{show: isActive === 'pills-home'}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="card">
      <div class="card-header">
        Administrator Panel
      </div>
      <div class="card-body">
        <h4 class="card-title">Registered Users</h4>
        <div class="user-list">
        <div class="scrollable">
            <div class="list-group">
                <a *ngFor="let user of userList; let i= index"  (click)="onSelect(i)"  [routerLink]=""  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{i + 1}}: Username : {{user.username}}</h5>
                    <small class="aclass">User Id : {{user.User_Id}} <br>Access: {{(user.type == 1)? 'Admin':'User'}}</small>
                  </div>
                  <p class="mb-1">Full Name: {{user.firstname}} {{user.lastname}} </p>
                  
                </a>
              </div>
        </div>
        <div class="user-content" >
            <form #UserSearchForm="ngForm">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Username</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]= 'selectedUser.username' name="selectedUserName" placeholder="username">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">First Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control"  [(ngModel)]= 'selectedUser.firstname' name="selectedFirstName" placeholder="First Name">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" [(ngModel)]= 'selectedUser.lastname' name="selectedLastName" placeholder="Last Name">
                    </div>
                  </div>
                <fieldset class="form-group">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">User Type</label>
                    <div class="col-sm-8">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" [checked]="selectedUser.type === 1" name="gridRadios" (click)="changeUserType(1)" id="selectedUserType1" value="1" >
                         Admin
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" [checked]="selectedUser.type === 0" name="gridRadios" (click)="changeUserType(0)" id="selectedUserType2" value="0">
                          User
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                
              </form>
        </div>
      </div>
      </div>
    
      <div class="card-footer text-muted align-right">
        <a  class="btn btn-primary" (click)= "updateRecord()">Update Record</a>
        <a  class="btn btn-danger" (click)= "deleteRecord()">Delete Record</a>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" [ngClass]="{show: isActive === 'pills-profile'}" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="card">
      <div class="card-header">
        Register A New User
      </div>
      <div class="card-body">
        <h4 class="card-title">Register User</h4>
        
        <form #UserRegistrationForm="ngForm">
          <div class="form-group row">
            <label for="newUserUserName" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]= 'newUser.username' name="newUserUserName" placeholder="username">
            </div>
          </div>
          <div class="form-group row">
            <label for="newUserFirstName" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control"  [(ngModel)]= 'newUser.firstname' name="newUserFirstName" placeholder="First Name" required>
            </div>
          </div>
          <div class="form-group row">
              <label for="selectedLastName" class="col-sm-4 col-form-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]= 'newUser.lastname' name="newUserLastName" placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="selectedLastName" class="col-sm-4 col-form-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" [(ngModel)]= 'newUser.password' name="newUserPassword" placeholder="Password" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="selectedLastName" class="col-sm-4 col-form-label">Confirm-Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" [(ngModel)]= 'confirmPassword' name="newUserConfirmPassword" placeholder="Confirm Password" required>
              </div>
            </div>
          <fieldset class="form-group">
            <div class="row">
              <label class="col-sm-4 col-form-label">User Type</label>
              <div class="col-sm-8">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" [checked]="newUser.type === 1" name="gridRadios" (click)="changeUserType(1)" id="selectedUserType1" value="1" >
                   Admin
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" [checked]="newUser.type === 0" name="gridRadios" (click)="changeUserType(0)" id="selectedUserType2" value="0">
                    User
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          
        </form>

      </div>
      <div class="card-footer text-muted align-right">
        <button class="btn btn-primary" [disabled]="!UserRegistrationForm.valid" (click)="createUser()">Create User</button>
      </div>
    </div>
  </div>
</div>
