  
        <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block"><img src="../assets/images/logowhitefull.png" class="img-fluid" alt="Responsive image"></div>
        <div class="tagline-lower text-center text-expanded text-shadow text-white mb-5 d-none d-lg-block"><h2><strong>List</strong>Builder</h2></div>
    
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
          <div class="container">
            <a class="navbar-brand text-expanded font-weight-bold d-lg-none" href="#"><img src="../assets/images/logowhitefull.png" class="img-fluid" alt="Responsive image"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarResponsive" style="">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" routerLink="/search" routerLinkActive="active">Search
                    
                  </a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" routerLink="/history" routerLinkActive="active">Search History</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" routerLink="/export" routerLinkActive="active"><b>Export Data</b></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    
        <div class="container-fluid">
            <router-outlet></router-outlet>
          
        </div>
        <!-- /.container -->
       
        <footer class="bg-faded text-center">
          
            <p class="cv">Copyright © JumpCrew 2017</p>
          
        </footer>
        
        <!-- Bootstrap core JavaScript -->
     
    
      
    
    
    